In [1]:
print('Learning Python now!')

Learning Python now!

In [2]:
print('Python is fun')

Python is fun

In [3]:
print('Learning Python now!')
print('Python is fun')

Learning Python now!
Python is fun

In [4]:
#Convert miles to Kilometers
print('mile 96 is Kilometer')
print(96*1.6)

mile 96 is Kilometer
153.60000000000002

In [5]:
print("Hello, Python")
print('Hello, Python')
print('Hello, Python!')

Hello, Python
Hello, Python
Hello, Python!

In [6]:
#Convert Fahrenheit to Ceisius
print('Fahrenheit 212 is Celsius degree')
print(5/9*212-32)

Fahrenheit 212 is Celsius degree
85.77777777777779

In [7]:
print('Learning Python now!')
print('Python is fun')
print('Python is a good programming language')

Learning Python now!
Python is fun
Python is a good programming language

In [8]:
#我的第一個 Python程式
print('Python is fun')
print('Learining Python now!')

Python is fun
Learining Python now!

In [9]:
print(12345)

12345

In [10]:
print(123.456)

123.456

In [11]:
print("Learning Python now!")

Learning Python now!

In [12]:
print('Learning Python now!')

Learning Python now!

In [13]:
print('Python is fun')
print('Let\'s go')

Python is fun
Let's go

In [14]:
print('\\n is a skip line')

\n is a skip line

In [15]:
print('Learning Python now!\nPython is fun')

Learning Python now!
Python is fun

In [16]:
print('|\tHello, word|')

|	Hello, word|

In [17]:
print('|Hello,\tworld|')

|Hello,	world|

In [18]:
print('\\n is skip a line')

\n is skip a line

In [19]:
print('\"Hello, everyone\"')

"Hello, everyone"

In [20]:
print('Radius =',12)

Radius = 12

In [21]:
print('Hello,')
print('world')

Hello,
world

In [22]:
print('Hello,',end =' ')
print('world')

Hello, world

In [23]:
print('Hello,','world')

Hello, world

In [24]:
print('Hello,',end='***')
print('world')

Hello,***world

In [25]:
print('***Hello, world',end = '***')
print('')
print('Hello, Python')
print('excellent!!!')

***Hello, world***
Hello, Python
excellent!!!

In [26]:
print('***Hello, world***')
print('Hello, Python')
print('excellent!!!')

***Hello, world***
Hello, Python
excellent!!!

In [27]:
print(format(100,'8d'))

     100

In [28]:
print(format(100000,'3d'))

100000

In [29]:
print(format(100,'8x'))

      64

In [30]:
print(format(100,'8o'))

     144

In [31]:
print(format(100,'8b'))

 1100100

In [32]:
print(format(0.2389,'6.2%'))

23.89%

In [33]:
print(format(123.456,'8.2f'))

  123.46

In [34]:
print(format('Python is fun','15s'))

Python is fun

In [35]:
print(format('Python is fun','>15s'))

  Python is fun

In [36]:
print(format(12345,'10d'))

     12345

In [37]:
print(format(12345,'<10d'))

12345

In [38]:
print(format(12345,'^11d'))

   12345

In [39]:
print(12345,12,1234567)
print(12,123,1234567)
print(123,1234567,12345)

12345 12 1234567
12 123 1234567
123 1234567 12345

In [40]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))
print(format(12,'10d'))
print(format(123,'10d'))
print(format(1234567,'10d'))
print(format(123,'10d'))
print(format(1234567,'10d'))
print(format(123,'10d'))

     12345
        12
   1234567
        12
       123
   1234567
       123
   1234567
       123

In [41]:
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(1234567,'10d'))
print(format(12,'10d'),end='')
print(format(1234567,'10d'),end='')
print(format(123,'10d'))
print(format(1234567,'10d'),end='')
print(format(123,'10d'),end='')
print(format(12345,'10d'))

     12345        12   1234567
        12   1234567       123
   1234567       123     12345

In [42]:
print(format(12345,'10d'),format(12,'10d'),format(1234567,'10d'))
print(format(12,'10d'),format(1234567,'10d'),format(123,'10d'))
print(format(1234567,'10d'),format(123,'10d'),format(12345,'10d'))

     12345         12    1234567
        12    1234567        123
   1234567        123      12345

In [43]:
print('%10d'%12345)

     12345

In [44]:
print('|%10d|'%(12345))

|     12345|

In [47]:
print('|%3d|'%(12345))

|12345|

In [48]:
print('|%-10d|'%(12345))

|12345     |

In [49]:
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(1234.56))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
| 1234.56|
|   12.35|
|12345.60|

In [50]:
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12345.60|

In [51]:
print('|%30s|'%('Learning Python now!'))
print('|%-30s|'%('Learning Python now!'))
print('|%15s|'%('Learning Python now!'))

|          Learning Python now!|
|Learning Python now!          |
|Learning Python now!|

In [52]:
print('width=%2d,height=%2d,area=%3d'%(5,7,24))

width= 5,height= 7,area= 24

In [53]:
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,23,1234567))
print('%10d%10d%10d'%(123,1234567,123))

     12345        12   1234567
        12        23   1234567
       123   1234567       123

In [54]:
print('%d%% orange juice'%(100))

100% orange juice

In [55]:
print('{0}'.format(123))
print('{0},{1}'.format(123,12345))
print('{0:5d},{1:7d}'.format(123,12345))
print('x={0:5d},y={1:7d}'.format(123,12345))

123
123,12345
  123,  12345
x=  123,y=  12345

In [56]:
print('{0}'.format(123))

123

In [57]:
print('{0},{1}'.format(123,12345))

123,12345

In [58]:
print('{0:5d},{1:7d}'.format(123,12345))

  123,  12345

In [60]:
print('x={0:5d},y={1:7d}'.format(123,12345))

x=  123,y=  12345

In [62]:
# p 2-20 練習題

print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [66]:
# p 2-20 練習題

print(format('Department','12s'))
print(format('of','12s'))
print(format('Computer','12s'))
print(format('Scoence','12s'))
print('')

Department
of
Computer
Scoence

In [67]:
# p 2-20 練習題

print(format('Department','>12s'))
print(format('of','>12s'))
print(format('Computer','>12s'))
print(format('Scoence','>12s'))
print('')

  Department
          of
    Computer
     Scoence

In [70]:
# p 2-20 練習題

print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [74]:
# p 2-21 練習題

print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [75]:
# p 2-21 練習題

print('Price:$ %8.2f'%(356.08977))
print('%10.2f %10.2f'%(123.456,345.789))
print('%-10.2f %5d'%(123.456,100))
print('radius = %d,area = %7.2f'%(5,5*5*3.14159))
print('Radius:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*5*3.14159))

Price:$   356.09
    123.46     345.79
123.46       100
radius = 5,area =   78.54
Radius:  5,Area:     78.54

In [77]:
# p 2-21 練習題

print('%.2f degree Celsius in Fahrenheit\
      is %.2f'%(3.25,3.25*1.8+32))
print('%.2f degree Fahrenheit in Celsius\
      is %.2f'%(94.5,(94.5-32)/1.8))

3.25 degree Celsius in Fahrenheit      is 37.85
94.50 degree Fahrenheit in Celsius      is 34.72

In [79]:
# p 2-21 練習題

print('%-15s %-10s'%('Month','Amount'))
print('%-15s %-10s'%(1,43400.2))
print('%-15s %-10s'%(2,45430.28))
print('%-15s %-10s'%(3,48030.48))
print('%-15s %-10s'%(4,51112.96))
print('%-15s %-10s'%(5,52857.2))

Month           Amount
1               43400.2
2               45430.28
3               48030.48
4               51112.96
5               52857.2

In [92]:
# p 2-22 練習題

print('|%10d %9d %9d|'%(12345,12,1234567))
print('Radius:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*5*3.14159))
print(format(123.456,'10.2f'))
print('%-15d %-10.2f'%(1,43400.2))
print('x={0:5d},y={1:7d}'.format(123,12345))

|     12345        12   1234567|
Radius:  5,Area:     78.54
    123.46
1               43400.20
x=  123,y=  12345

In [97]:
# 2-24

print('Member {0:7s}, discount {1:3.2f}'.format('Karen',0.35))
print('Member {0:7s}, discount {1:3.2f}'.format('Sammy',0.4))
print('Member {0:7s}, discount {1:3.2f}'.format('JoJo',0.42))

Member Karen  , discount 0.35
Member Sammy  , discount 0.40
Member JoJo   , discount 0.42

In [98]:
# 2-24

print('%20s %-20s'%('tall','short'))
print('%20s %-20s'%('strong','weak'))
print('%20s %-20s'%('thick','thin'))

                tall short
              strong weak
               thick thin

In [99]:
# 2-24
print()

In [100]:
#2-24
print('%20s %-20s'%('Apple\'s Producrs:','iPhone'))
print('%20s %-20s'%('','iMac'))
print('%20s %-20s'%('','Apple Watch'))
print('%20s %-20s'%('','...'))

   Apple's Producrs: iPhone
                     iMac
                     Apple Watch
                     ...

In [101]:
#2-24
print('%-15s %7s'%('City','Celsius'))
print('%-15s %7.2f'%('Taipei',33.2))
print('%-15s %7.2f'%('Yilan',32.93))
print('%-15s %7.2f'%('MiaoLi',32.29))
print('%-15s %7.2f'%('Taichung',32.48))
print('%-15s %7.2f'%('HuaLian',33.87))

City            Celsius
Taipei            33.20
Yilan             32.93
MiaoLi            32.29
Taichung          32.48
HuaLian           33.87

In [105]:
#2-25
print('|%6d%6d%6d%6d|'%(22,44,66,88))
print('|%6d %6d %6d %6d|'%(33,55,77,99))
print('|%6d%6d%6d%6d|'%(222,444,666,888))
print('|%-6d%-6d%-6d%-6d|'%(333,555,777,999))

|    22    44    66    88|
|    33     55     77     99|
|   222   444   666   888|
|333   555   777   999   |

In [121]:
#2-25
for i in range(9):
    print('-',end='')
    if i==8:
        print('')

print('Learning Python now***')
print('Python is fun$$$')
for i in range(9):
    print('-',end='')

---------
Learning Python now***
Python is fun$$$
---------

In [111]:
#3-6
a=7+8*2-6+8/2
print(a)

21.0

In [112]:
#3-6
b=(7+8)*2-(6+8)/2
print(b)

23.0

In [114]:
#3-6
str1='Learning Python'+'is fun'
print(str1)

Learning Pythonis fun

In [119]:
#3-6
str2='Learning Python '+\
'is fun'
print(str2)

Learning Python is fun

In [123]:
#3-7
question1='Is your birthday in set1?\n'+\
'1 3 5 7\n'+\
'9 11 13 15\n'+\
'17 19 21 23\n'+\
'25 27 29 31\n'+\
'\nEnter 1 for Yes and 0 for No:'
print(question1)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 1 for Yes and 0 for No:

In [125]:
#3-8
print('Hello, world')
print('Hello,',end=' ')
print('world')
s='Hello, '+\
'world'
print(s)

Hello, world
Hello, world
Hello, world

In [127]:
#3-9
8/3

2.6666666666666665

In [128]:
#3-9
8**2

64

In [129]:
#3-9
100**0.5

10.0

In [130]:
#3-9
8%3

2

In [132]:
#3-9
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [133]:
#3-9
i=j=k=200
print(i,j,k)

200 200 200

In [134]:
#3-9
a,b=100,200
print(a,b)

100 200

In [135]:
#3-10
a=100
b=100
a=b
b=a
print(a,b)

100 100

In [136]:
#3-10
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [137]:
#3-11
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [138]:
#3-12
a=10
a+=2
print(a)

12

In [139]:
#3-12
a*=5
print(a)

60

In [140]:
#3-12
a//=3
print(a)

20

In [141]:
#3-12
a%=6
print(a)

2

In [148]:
#3-12
k=eval(input())

3

In [146]:
#3-12
k

3

In [147]:
#3-12
print(k)

3

In [149]:
#3-13
s=eval(input('Please enter an integer:'))

Please enter an integer:45

In [150]:
#3-13
s

45

In [151]:
#3-13
s2=input('Please enter a string:')

Please enter a string:Hello, world

In [152]:
s2

'Hello, world'

In [153]:
print(s2)

Hello, world

In [154]:
#3-13
str2=input('Please enter an integer:')

Please enter an integer:88

In [155]:
print(str2)

88

In [156]:
str2

'88'

In [157]:
#3-14
str2=eval(input('Please enter an integer:'))

Please enter an integer:88

In [158]:
num=str2+80
print(num)

168

In [160]:
#3-15
num1=eval(input('Please enter number1:'))

Please enter number1:100

In [161]:
num2=eval(input('Please enter number2:'))

Please enter number2:200

In [162]:
print(num1+num2)

300

In [163]:
#3-15
num1,num2=eval(input('Enter two numbers seperated by comma:'))

Enter two numbers seperated by comma:100,200

In [102]:
#3-16
num1,num2,num3=eval(input('Enter three numbwes seperated by commas:'))
total = num1 +num2 +num3
average = total /3
print('total=%d, and average = %.f'%(total, average))

Enter three numbwes seperated by commas:34,45,67
total=146, and average = 49

In [16]:
#3-17
radius = eval(input('Enter the radius:'))
area = radius*radius*3.14159             
perimeter = 2*3.14159*radius
print('Area = %.2f'%(area))
print('Perimeter = %.2f'%(perimeter))

Enter the radius:5
Area = 78.54
Perimeter = 31.42

In [15]:
#3=17
import math
radius = eval(input('Enter the radius:'))
area = radius*radius*math.pi
perimeter = 2*math.pi*radius
print('Area= %.2f'%(area))

Enter the radius:5
Area= 78.54

In [3]:
#3-20

a = 100
b = 200
c,d = a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [4]:
#3-20
a = 100
b = 200
c,d= a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [5]:
#3-20
a = 100
b = 200
c,d = a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [6]:
#3-21
x= 100
y= 3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [9]:
#3-21
str1='Hello'
str2='Python'
str3= str1+str2
print(str3)
a= 100
b= 200
c= a+b
print(c)

HelloPython
300

In [10]:
#3-21
str1='Hello'+\
    'Python,Let\'s learning'
str2='Python now'
str3=str1+str2
print(str3)

HelloPython,Let's learningPython now

In [12]:
a= 100
b=3
a//b
print(a)


a=100
a%=b
print(a)


a=100
a/=b
print(a)

100
1
33.333333333333336

In [14]:
#3-22
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

a=eval(input('Enter the integer:'))
b=a+100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

In [23]:
#3-23
str1='Hello'+ \
    'Python, Let\'s learning'
str2="Python now"
str3=str1+str2
print(str3)

HelloPython, Let's learningPython now

In [24]:
a= 100
b=3
a//=b
print(a)

a=100
a%=b
print(a)

a=100
a/=b
print(a)

33
1
33.333333333333336

In [25]:
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [26]:
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [29]:
a=int(input('Enter an integer:'))
b=a+100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an integer:5
5 105
Enter a string:5
5i8

In [33]:
round(3.6)

4

In [35]:
#4-3
abs(-100)

100

In [36]:
max(100,200,37,46,201)

201

In [37]:
min(21,34,54,768,43)

21

In [38]:
pow(2,4)

16

In [39]:
round(2.3)

2

In [40]:
round(2.3456,2)

2.35

In [41]:
int(2.345)

2

In [42]:
pow(5.5,5)+pow((9.5-3),2)+100.2

5175.29375

In [43]:
import math
math.fabs(-12.34)

12.34

In [45]:
import math
math.ceil(5.6)

6

In [46]:
import math
math.floor(5.6)

5

In [47]:
import math
math.exp(1)

2.718281828459045

In [48]:
import math
math.log(2.71828)

0.999999327347282

In [49]:
print('%.2f'%math.log(2.71828))

1.00

In [50]:
math.log(math.e)

1.0

In [51]:
math.log(1000,10)

2.9999999999999996

In [52]:
math.sqrt(100)

10.0

In [53]:
math.sin(0)

0.0

In [54]:
math.sin(1/2*math.pi)

1.0

In [55]:
math.sin(math.pi)

1.2246467991473532e-16

In [56]:
math.sin(3/2*math.pi)

-1.0

In [57]:
math.sin(2*math.pi)

-2.4492935982947064e-16

In [58]:
math.cos(0)

1.0

In [59]:
math.cos(1/28*math.pi)

0.9937122098932426

In [60]:
math.cos(3/2*math.pi)

-1.8369701987210297e-16

In [61]:
math.cos(2*math.pi)

1.0

In [62]:
math.tan(0)

0.0

In [63]:
math.tan(5/4*math.pi)

0.9999999999999997

In [64]:
math.tan(-1/4*math.pi)

-0.9999999999999999

In [65]:
math.tan(math.pi)

-1.2246467991473532e-16

In [66]:
math.radians(90)

1.5707963267948966

In [67]:
math.radians(180)

3.141592653589793

In [68]:
math.degrees(1/2*math.pi)

90.0

In [72]:
#4-10
import math
side= int(input('Enter the length of side:'))
area=(5*side*side)/(4*math.tan(math.pi/5))
print(area)

Enter the length of side:4
27.527638409423474

In [83]:
#4-11
import math
n1,n2,n3=eval(input('Enter three numbers:'))
mean=(n1+n2+n3)/3
variance = (pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)
print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter three numbers:10,20,30
variance is 66.67,and standand deviation is 8.16

In [84]:
#4-14
a=-888
b=100
c=10
d=2
e=0.5
print(abs(a))
print(max(a,b,c,d,e))
print(min(a,b,c,d,e))
print(pow(c,d))
print(round(7.5))
print(round(6.5))
print(int(123.456))
print(round(123.456,2))

888
100
-888
100
8
6
123
123.46

In [88]:
#4-14
import math 
a = math.fabs(-123.456)
print(a)

b=math.ceil(8.8)
print(b)

c=math.floor(8.8)
print(c)

d=math.exp(1)
print(d)

e=math.log(100)
print(e)

f=math.log(100,10)
print(f)

g=math.sqrt(1000000)
print(g)

123.456
9
8
2.718281828459045
4.605170185988092
2.0
1000.0

In [91]:
#4-15
m=math.tan(0)
print(m)

n=math.tan(2*math.pi)
print(n)

p=math.degrees(2*math.pi)
print(p)

q=math.radians(360)
print(q)

0.0
-2.4492935982947064e-16
360.0
6.283185307179586

In [93]:
#4-15
x='Apple i'+str(8)
print(x)

y=ord('Z')
print(y)

z=chr(100)
print(z)

Apple i8
90
d

In [95]:
#5-5
X=65
if X>60:
    X=X+5
    print('X=%d'%(X))

X=70

In [98]:
#5-6
numerator=int(input('Please input numerator:'))
denominator=int(input('Please enter denominator:'))
if denominator !=0:
    ans=numerator/denominator
print(numerator,"/",denominator,"=",ans)
print('Over')

Please input numerator:4
Please enter denominator:5
4 / 5 = 0.8
Over

In [107]:
#5-10
number=int(input('Please input a number:'))
if number %5==0:
    print(number,"is 5's multiple")
    print("Over")

Please input a number:25
25 is 5's multiple
Over

In [109]:
#5-11
numenator = int(input('Please input numerator:'))
denominator = int(input('Please input(denominator:'))
if denominator !=0:
    ans=numenator/denominator
    print(numenator,"/",denominator,"=",ans)
else:
    print('Denominator is invalid')
print('Over')

Please input numerator:5
Please input(denominator:0
Denominator is invalid
Over

In [111]:
#5-36
score = int(input('Enter your score:'))
if score >=60:
    score+=10
print('Your score is %d'%(score))

Enter your score:67
Your score is 77

In [113]:
#5-36
score =int(input('Enter your score:'))
if score >=60:
    score+=10
else:
    score+=8
print('Yuor score is %d'%(score))

Enter your score:56
Yuor score is 64

In [115]:
#5-36
temperature = int(input('Enter temperature today:'))
if temperature >=28:
    print("Hot")
else:
    print('Comfotable')
print('Over')

Enter temperature today:23
Comfotable
Over

In [118]:
#5-37
tmepearature = int(input('Enter temperature today:'))
if temperature >=28:
    print('Hot')
elif temperature >=22:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:23
Comfortable
Over

In [120]:
#5-37
char= input('Enter a character:')
if char >= 'a' and char <= 'z':
    print('%c is lowercase character'%(char))
elif char >='A' and char<='Z':
    print('%c is uppercase character'%(char))
else:
    print('%s is other character'%(char))

Enter a character:f
f is lowercase character

In [121]:
#5-38
num=int(input('Enter a nunmber:'))
if num %2==0:
    print('%d'%(num),end='')
    print('is even number.')
else:
    print('%d'%(num),end='')
    print('is odd number.')
print('Test is over')

Enter a nunmber:45
45is odd number.
Test is over

In [124]:
#6-4
count=1
while count<=10:
    print('Learning Python is fun!')
    count=count+1

Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!

In [122]:
#6-6
total=0
k=1
while k<=100:
    total =total +k
    k=k+1
print('1+2+3+...+100=',total)

1+2+3+...+100= 5050

In [125]:
for k in range(1,6):
    print(k)

1
2
3
4
5

In [126]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [127]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [131]:
total=0
for i in range(1,10):
    total+=i
print('1+2+3...+10',total)

1+2+3...+10 45

In [135]:
total = 0
for i in range(1,101,2):
    total+=i
print('2+4+...+100',total)

2+4+...+100 2500

In [137]:
total=0
number= 0
while True:
    number +=1
    total+=number
    if total>=100:
        break
print('The number is',number)
print('Total is',total)

The number is 14
Total is 105

In [140]:
total=0
number =1
while number<=100:
    if number %5==0:
        number+=1
        continue
    total +=number 
    number +=1
print('the total is',total)

the total is 4000

In [143]:
total=0
number=0
while number <=100:
    number +=1
    if number %5!=0:
        continue
    total+=number 
print('the total is',total)

the total is 1050

In [144]:
oddTotal=0
k=1
while k <=100:
    oddTotal=oddTotal +k
    k=k+2
print('1+3+5+...+99=',oddTotal)

1+3+5+...+99= 2500

In [147]:
for i in range(1,3):
    print('i=',i)
    for j in range(1,3):
        print('j=',j)
    print('')

i= 1
j= 1
j= 2

i= 2
j= 1
j= 2

In [156]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j),end=' ')
    print()

1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5 1*6= 6 1*7= 7 1*8= 8 1*9= 9
2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [157]:
import random
random.random()

0.8784395483193969

In [158]:
random.randint(1,49)

18

In [163]:
import random
for i in range(1,11):
    randomNumber = random.randint(1,10)
    print(randomNumber,end=' ')

3 1 10 3 7 2 8 1 9 6

In [168]:
import random
evenCount=0
oddCount=0
for i in range(1,101):
    randomNumber = random.randint(1,100)
    print(randomNumber,end=' ')
    if randomNumber %2==0:
        evenCount +=1
oddCount = 100 - evenCount

print('\nEven number:',evenCount,'\nOdd number:',oddCount)

54 60 43 75 31 19 25 11 30 83 81 61 30 91 56 26 67 99 11 73 80 6 46 100 48 25 52 68 70 22 1 99 98 38 20 76 32 84 58 93 12 38 51 26 6 33 78 26 80 87 89 48 4 30 22 88 30 36 35 74 78 17 87 54 38 69 49 96 78 73 99 16 36 78 79 91 2 68 55 76 87 30 12 5 36 33 50 56 82 30 53 62 91 66 10 50 95 72 97 37
Even number: 60
Odd number: 40

In [169]:
number = int(input('P;ease input an iteger:'))
divisor=2
flag=1
while divisor<number:
    flag = 0
    break
    divisor +=1
if flag==0:
    print(number,'is not a prime number')
else:
    print(number, 'is prime number')

P;ease input an iteger:4
4 is not a prime number

In [176]:
numerator1=int(input('Please input an numerator1:'))
denominator1=int(input('Please input an denominator1:'))

numerator2=int(input('Please input an numerator2:'))
denominator2=int(input('Please input an denominator2:'))

number1= numerator1*denominator2+numerator2*denominator1
number2= denominator1*denominator2

gcd=1
k=2
while k <= number1 and k<=number2:
    if number1%k==0 and number2%k==0:
        gcd=k
    k+=1
print('The GCD for',number1,'and',number2,'is',gcd)
print('%d/%d+%d%d='%(numerator1,denominator1,numerator2,denominator2))
print('%d/%d'%(number1/gcd,number2/gcd))

Please input an numerator1:2
Please input an denominator1:3
Please input an numerator2:4
Please input an denominator2:5
The GCD for 22 and 15 is 1
2/3+45=
22/15

In [178]:
fiveMulti=0
k=5
while k <=100:
    fiveMulti+=k
    k+=5
print(fiveMulti)

1050

In [179]:
for i in range(10):
    print(i,end='')
print('')

for i in range(2,10):
    print(i,end='')
print('')

for i in range(1,10,2):
    print(i,end='')
print('')

for i in range(9,1,-2):
    print(i,end='')
print('')

0123456789
23456789
13579
9753

In [180]:
for i in range(10):
    print('%3d'%(i),end='')
print('')

for i in range(2,10):
    print('%3d'%(i),end='')
print('')

for i in range(1,10,2):
    print('%3d'%(i),end='')
print('')

for i in range(9,1,-2):
    print('%3d'%(i),end='')
print('')

  0  1  2  3  4  5  6  7  8  9
  2  3  4  5  6  7  8  9
  1  3  5  7  9
  9  7  5  3

In [183]:
total=0
num=0
while True:
    num+=1
    total+=num
    if total>=5050:
        break
    print('1+2+3+...+%d=%d'%(num,total))

1+2+3+...+1=1
1+2+3+...+2=3
1+2+3+...+3=6
1+2+3+...+4=10
1+2+3+...+5=15
1+2+3+...+6=21
1+2+3+...+7=28
1+2+3+...+8=36
1+2+3+...+9=45
1+2+3+...+10=55
1+2+3+...+11=66
1+2+3+...+12=78
1+2+3+...+13=91
1+2+3+...+14=105
1+2+3+...+15=120
1+2+3+...+16=136
1+2+3+...+17=153
1+2+3+...+18=171
1+2+3+...+19=190
1+2+3+...+20=210
1+2+3+...+21=231
1+2+3+...+22=253
1+2+3+...+23=276
1+2+3+...+24=300
1+2+3+...+25=325
1+2+3+...+26=351
1+2+3+...+27=378
1+2+3+...+28=406
1+2+3+...+29=435
1+2+3+...+30=465
1+2+3+...+31=496
1+2+3+...+32=528
1+2+3+...+33=561
1+2+3+...+34=595
1+2+3+...+35=630
1+2+3+...+36=666
1+2+3+...+37=703
1+2+3+...+38=741
1+2+3+...+39=780
1+2+3+...+40=820
1+2+3+...+41=861
1+2+3+...+42=903
1+2+3+...+43=946
1+2+3+...+44=990
1+2+3+...+45=1035
1+2+3+...+46=1081
1+2+3+...+47=1128
1+2+3+...+48=1176
1+2+3+...+49=1225
1+2+3+...+50=1275
1+2+3+...+51=1326
1+2+3+...+52=1378
1+2+3+...+53=1431
1+2+3+...+54=1485
1+2+3+...+55=1540
1+2+3+...+56=1596
1+2+3+...+57=1653
1+2+3+...+58=1711
1+2+3+...+59=1770
1+2+3+...+60=1830
1+2+3+...+61=1891
1+2+3+...+62=1953
1+2+3+...+63=2016
1+2+3+...+64=2080
1+2+3+...+65=2145
1+2+3+...+66=2211
1+2+3+...+67=2278
1+2+3+...+68=2346
1+2+3+...+69=2415
1+2+3+...+70=2485
1+2+3+...+71=2556
1+2+3+...+72=2628
1+2+3+...+73=2701
1+2+3+...+74=2775
1+2+3+...+75=2850
1+2+3+...+76=2926
1+2+3+...+77=3003
1+2+3+...+78=3081
1+2+3+...+79=3160
1+2+3+...+80=3240
1+2+3+...+81=3321
1+2+3+...+82=3403
1+2+3+...+83=3486
1+2+3+...+84=3570
1+2+3+...+85=3655
1+2+3+...+86=3741
1+2+3+...+87=3828
1+2+3+...+88=3916
1+2+3+...+89=4005
1+2+3+...+90=4095
1+2+3+...+91=4186
1+2+3+...+92=4278
1+2+3+...+93=4371
1+2+3+...+94=4465
1+2+3+...+95=4560
1+2+3+...+96=4656
1+2+3+...+97=4753
1+2+3+...+98=4851
1+2+3+...+99=4950

In [185]:
total=0
num=1
while num<=100:
    if num %2==0:
        num+=1
        continue
    total+=num
    num+=1
print('1+2+3...+99=',total)

1+2+3...+99= 2500

In [186]:
total=0
for i in range(1,101):
    if i %2==1:
        total+=1
    else:
        continue
print('1+3+5+...+99=',total)

1+3+5+...+99= 50

In [187]:
for i in range(10):
    for j in range(i,10):
        print('*',end='')
    print('')

**********
*********
********
*******
******
*****
****
***
**
*

In [189]:
for i in range(9):
    for j in range(i):
        print('*',end='')
    print('')

*
**
***
****
*****
******
*******
********